{% extends 'body.html' %}

{% block content %}
<div class="card card-default">
<div class="card-header">
<h3 class="card-title">
<i class="fas fa-search"></i>
        {{ title }}
</h3>
</div>

<div class="card-body">
<table class="table">
  <thead>
  {% block columns %}
  	
  {% endblock %}
  

  <tbody>
  {% block rows %}
  	
  {% endblock %}
  
</table>
</div>
<div class="card-footer">
            <button class="btn btn-primary btn-flat">
                <i class="fas fa-plus"></i> Nuevo registro
            </button>

</div>
{% endblock %}