{% extends 'index.html' %}
{% block content %}

    <a href="{% url 'erp:vista1' %}">click</a>

    <ul>
        {% for product in products %}
            <li>{{ product.id }}/{{ product.name }} / {{ product.cate.name }}</li>

        {% endfor %}
    </ul>


{% endblock %}

